<h1 class='center'>Pokémons</h1>
<div class='container'>
    <div class="row">
        <!-- ngFor can display array in template -->
        <div *ngFor='let pokemon of pokemons' class="col s6 m4">
            <!-- EVENT MANAGEMENT -->
            <div class="card horizontal" (click)="selectPokemon(pokemon)">
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <!-- INTERPOLATION!! -->
                        <p>{{ pokemon.name }}</p>
                        <p>
                            <!-- INTERPOLATION!! -->
                            <small>{{ pokemon.created }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>